{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<div>
  <h1 align="center">Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      <p>Note Data: {{ note.data }}</p>
      <p>{{ note.date }}</p>

      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
</div>

<div>
  <h1 align="center">Orders</h1>

    <ul class="list-group list-group-flush" id="orders">
      {% for order in user.orders %}
      <li class="list-group-item">
        <div>
          <p>Order ID: {{ order.id }}</p>
          <p>User ID: {{ order.user_id }}</p>
          <p>SO: {{ order.so_num }}</p>
          <p>PO: {{ order.po_num }}</p>
          <p>{{ order.date }}</p>
        </div>

        <button type="button">
          <a href="order/{{ order.id }}">View Order</a>
        </button>

      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
